<section class="home_banner_area">
  <div class="container box_1620">
    <div class="banner_inner d-flex align-items-center">
      <div class="banner_content">
        <div class="media">
          <div class="d-flex">
            <img src="assets/img/personal.jpg" alt="">
          </div>
          <div class="media-body">
            <div class="personal_text">
              <h6>Hello Everybody, i am</h6>
              <h3>TRINH QUOC THINH</h3>
              <h4>Senior front-end Developer and Design UI/UX</h4>
              <p>Strongly develop in the field of mobile app, Contribute more useful applications to users. Mastering UI
                / UX both web and mobile. In the next 3 years, there will be at least 1 application per million
                downloads</p>
              <ul class="list basic_info">
                <li><a href="#"><i class="fas fa-calendar-alt"></i>August 14, 1992</a></li>
                <li><a href="tel:0973001429"><i class="fas fa-phone-alt"></i> 0973.001.429</a></li>
                <li><a href="mailto:koolmaster1408@gmail.com"><i class="fas fa-envelope"></i>
                    koolmaster1408@gmail.com</a></li>
                <li><a href="#"><i class="fas fa-home"></i>1052/2 Lac Long Quan Ward 8, Tân Bình district</a></li>
              </ul>
              <ul class="list personal_social">
                <li><a href="https://www.facebook.com/trinh.q.thinh"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/koolmaster1408/?hl=vi"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="skype:live:koolmaster140892"><i class="fab fa-skype"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
